:root {
    --swiper-navigation-color: #00d1b2;
    --swiper-theme-color: #00d1b2;
}

.slider-container {
    position: relative;
    height: 560px;
    background-color: #f333;
    overflow: hidden;
    color: #00d1b2;
    padding: 0;
    border-radius: 12px;
}

.swiper {
    width: 100%;
    height: 560px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Needed for absolute positioning of text */
}

.slide-text {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 44px;
    color: var(--accent);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    padding: 1% 2%;
    border-radius: 4px;
    text-shadow: 2px 2px 5px #000000;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 560px;
    object-fit: cover;
    cursor: crosshair;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-navigation-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-navigation-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

@media only screen and (max-width: 480px) {
    .slide-text {
        font-size: 24px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .slide-text {
        font-size: 32px;
    }
}