        * {

        }
        body{
            min-height: 100vh;
        }
        button{
            min-height: 40px;
            width: 145px;
        }
        img{
            height: 200px;
            width: 80%
        }
        input{
            height: 30px;
            width: 145px;
        }
        .space{
            height: 90px;
        }
        .main{
            min-height: calc(100vh - 68px);
        }
        footer{
            padding-top: 8px !important;
            padding-bottom: 8px !important;
/*            background-color: #00d1b2 !important;*/
        }


        @media (prefers-color-scheme: dark) {
          :root {
            /* Update CSS variables */
          }
        }
