        :root{
           --light: white;
           --dark: black;

           --primary: teal;
           --secondary: rgb(121, 245, 158);
           --accent: rgb(206, 188, 28);
           --hover-background: var(--light);
           --txt-color: black;

           --foreground: var(--dark);
           --background: var(--light);
        }
        @media (prefers-color-scheme: dark) {
            :root{
                --light: white;
                --dark: black;

                --primary: teal;
                --secondary: rgb(121, 245, 158);
                --accent: rgb(206, 188, 28);
                --hover-background: var(--dark);
                --txt-color: white;

                --foreground: var(--light);
                --background: var(--dark);
            }
        }
        body{
            background: var(--background);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-height: 100vh;
            /*mobile version*/
            min-height: 100svh;
            /*min-height: 100dvh;*/
        }
        a:hover{
            color: var(--primary);
        }
        button{
            min-height: 40px;
            width: 145px;
        }
        .nav-logo{
            height: 200px;
            width: 80%
        }
        .text-profile a{
            color: var(--text-color);
        }
        .text-profile a:hover{
            color: var(--primary) !important;
            background: var(--hover-background);
            border-radius: 16%;
        }
        input{
            height: 30px;
            min-width: 145px;
        }
        .space{
            height: 90px;
        }
        .rounded-img{
            border-radius: 50%;
        }
        .text-black{
            color: black !important;
        }
        .active{
            color: teal;
            font-weight: bold;
        }
        .is-selected:hover{
            cursor: auto;
        }
        .profile-container{
            width: auto;
            max-width: 220px;
        }
        .logo-text{
            white-space: nowrap;
            font-family: cursive;
        }
        .nav-link{
            width: auto;
            max-width: 120px;
            color: var(--primary);
            white-space: nowrap;
            overflow: hidden;
        }
        #btnLogout{
            font-size: .875rem;
        }
        #profile-container:hover p{
            border: 0px solid;
            border-radius: 6px;
            background: var(--primary);
            color: var(--light) !important;
        }
        .main{
            min-height: calc(100vh - 220px);
        }
        footer{
            /* background-color: #00d1b2 !important;*/
        }
        p.form-text{
            color: var(--txt-color);
        }
        select{
            min-width: 180px;
        }
        div.field-select{
            min-height: 40px;
        }


/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

        @media only screen and (max-width: 480px){
            button {
                width: 78%;
            }
        }
        @media (min-width: 481px) and (max-width: 768px){
            button {
                width: 60%;
            }
        }
        @media (min-width: 769px) and (max-width: 1024px){

        }
        @media (min-width: 1025px) and (max-width: 1200px){

        }
        @media only screen and (min-width: 1201px){

        }


