:root {
    /* Bulma Defaults */
    --bulma-primary-h: 164deg;
    --bulma-link-h: 171deg;
    --bulma-link-l: 41%;

    --light: white;
    --dark: black;

    --primary: teal;
    --secondary: rgb(121, 245, 158);
    --accent: rgb(206, 188, 28);

    --danger: rgb(235, 86, 73);
    --hover-background: var(--light);
    --txt-color: black;

    --foreground: var(--dark);
    --background: var(--light);

    /* Override Pagination Color
    --bulma-link-h: 171deg;
    --bulma-link-l: 41%;
    */
}

@media (prefers-color-scheme: dark) {
    :root {
        --light: white;
        --dark: black;

        --primary: teal;
        --secondary: rgb(121, 245, 158);
        --accent: rgb(206, 188, 28);

        --danger: rgb(235, 86, 73);
        --hover-background: var(--dark);
        --txt-color: white;

        --foreground: var(--light);
        --background: var(--dark);
    }
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    /*mobile version*/
    min-height: 100svh;
    /*min-height: 100dvh;*/
}

a {
    color: #00d1b2;
}

.footer_links a, .card-link-text {
    color: var(--foreground);
}

a:hover, .footer_links a:hover {
    color: var(--primary);
}

.social_links a {
    color: var(--foreground);
}

.social_links a:hover {
    color: var(--primary);
}

.social_links i:hover {
    transform: scale(0.95);
}

button {
    min-height: 40px;
    width: 145px;
}

.nav-logo {
    height: 200px;
    width: 80%
}

.text-profile a {
    color: var(--text-color);
}

.text-profile a:hover {
    color: var(--primary) !important;
    background: var(--hover-background);
    border-radius: 6px;
}

/* Checkbox background checked */
.checkbox input[type="checkbox"]:checked {
    accent-color: var(--primary);
}

.space {
    height: 90px;
}

.rounded-img {
    border-radius: 50%;
}

.text-black {
    color: black !important;
}

.active {
    color: teal;
    font-weight: bold;
}

.is-selected:hover {
    cursor: auto;
}

.profile-container {
    width: auto;
    max-width: 220px;
}

.logo-text {
    white-space: nowrap;
    font-family: cursive;
}

.nav-link {
    width: auto;
    max-width: 120px;
    color: var(--primary);
    white-space: nowrap;
    overflow: hidden;
}

span > .custom-link {
    color: #2e333d;
}

span.active > a.custom-link {
    /* parent span with class 'active' and child a with class 'custom-link' */
    color: var(--primary);
}

#btnLogout {
    font-size: .875rem;
}

#btnLogout:hover {
    background: red;
    color: var(--dark);
}

#profile-container:hover p {
    border: 0 solid;
    border-radius: 6px;
    background: var(--primary);
    color: var(--light) !important;
}

.main {
    min-height: calc(100vh - 220px);
}

.footer {
    /* background-color: #00d1b2 !important;*/
    padding-bottom: 28px;
}

p.form-text {
    color: var(--txt-color);
}

select {
    min-width: 180px;
}

div.field-select {
    min-height: 40px;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-top {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-bottom {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-bottom-right {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #751c60;
    border: 0 solid black;
    border-top-left-radius: 52px;
    text-align: center;
}

.img-container:hover .absolute-bottom-right {
    transition: all 200ms ease-in-out;
    background-color: #eb3443;
}

.width-90 {
    min-width: 84%;
}

.vertical-card-item {
    height: 400px;
}

.vertical-card-management-item {
    height: 140px;
}

#livesearch {
    position: absolute;
    max-width: 50%;
    z-index: 100;
}

.card-content {
    background-color: var(--background);
}

.media-content {
    /* multi lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-content > .content {
    /* single lines */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.img-container {
    /*width: 300px;*/
    height: 300px;
    background-color: #0a0a23;
    position: relative;
    overflow: hidden;
    margin: 8px;
}

.img-container img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
}

.img-container img:hover {
    scale: 1.08;
}

.grayscale {
    filter: grayscale(1);
}

.dropdown-menu, .navbar-dropdown {
    animation: .18s drop-anim forwards;
}

.hidden {
    visibility: hidden;
}

.media-content {
    height: 140px;
}

.card > .content {
    height: 60px;
}

.slider-container {
    margin: 0 12px 0 12px;
}

.text-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text-three-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.horizontal-line {
    background-color: #00d1b2;
    height: 0.25rem;
    width: 4rem;
    border-radius: 9999px;
    margin: 1em auto;
    margin-left: 0;
}

/* Scroll to top */
#scrollToTopBtn {
    height: 50px;
    width: 50px;
    display: none; /* Initially hidden */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999; /* Ensure it stays above other content */
    border: none;
    outline: none;
    color: var(--txt-color);
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}

/*Scroll Horizontal - breadcrumb*/
.scroll-x {
    display: flex;
    overflow-x: auto;
}

.scroll-x::-webkit-scrollbar {
    width: 0;
}

/*Scroll Horizontal - Images*/
.scroll-container-x {
    display: flex;
    overflow-x: auto;
    scroll-padding-left: 10px;
    scroll-padding-right: 10px;
}

.scroll-container-x::-webkit-scrollbar {
    height: 8px;
}

.scroll-container-x::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.text-hover-underscore:hover {
    text-decoration: underline;
}

.circle-count {
    position: absolute;
    background-color: var(--danger);
    border-radius: 50%;
    border: 0 solid;
    min-height: 16px;
    min-width: 16px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    z-index: 2;
}

a > .circle-count {
    transform: translateY(-10px) translateX(19px);
}

div > .circle-count {
    transform: translateY(13px) translateX(22px);
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

div.custom-image > figure {
    aspect-ratio: 4 / 3;
    background-color: var(--bulma-scheme-main);
}

.custom-image {
    position: relative;
    overflow: hidden;
}

@keyframes drop-anim {
    0% {
        transform: scaleY(.1) translateY(-100px);
        opacity: 0.5;
    }
    100% {
        transform: scaleY(1) translateY(0);
        opacity: 1;
    }
}

/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

@media only screen and (max-width: 480px) {
    button {
        width: 78%;
    }

    .width-90 {
        min-width: 96%;
    }

    #livesearch {
        max-width: 96%;
    }

    .slider-container {
        margin: 0 6px 0 6px;
    }

    .expanded-on-mobile {
        min-width: 98%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    button {
        width: 60%;
    }

    .width-90 {
        min-width: 90%;
    }

    .vertical-card-item {
        height: 300px;
    }

    #livesearch {
        max-width: 90%;
    }

    .card-image {
        max-height: 336px;
    }

    .custom-image {
        min-height: calc(100vh * 0.36);
        max-height: calc(100vh * 0.36);
    }

    .slider-container {
        margin: 0 20px 0 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .width-90 {
        min-width: 86%;
    }

    .vertical-card-item {
        height: 260px;
    }

    .card {
        max-width: calc(100vw * 0.18);
    }

    div.custom-image > figure {
        aspect-ratio: 2 / 3;
    }

    .card > div.card-image {
        min-height: 140px;
        max-height: 320px;
    }

    .custom-image {
        min-height: calc(100vh * 0.56);
        max-height: calc(100vh * 0.66);
    }

    .slider-container {
        margin: 0 40px 0 40px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .width-90 {
        min-width: 84%;
    }

    .vertical-card-item {
        height: 260px;
    }

    .card {
        max-width: calc(100vw * 0.19);
    }

    .card > div.card-image {
        min-height: 300px;
    }

    .custom-image {
        min-height: calc(100vh * 0.33);
        max-height: calc(100vh * 0.33);
    }

    .slider-container {
        margin: 0 68px 0 68px;
    }
}

@media only screen and (min-width: 1201px) {
    .width-90 {
        min-width: 60%;
    }

    .vertical-card-item {
        height: 260px;
    }

    .custom-image {
        min-height: calc(100vh * 0.28);
        max-height: calc(100vh * 0.28);
    }

    .slider-container {
        margin: 0 28px 0 28px;
    }
}