        * {
/*            box-sizing: border-box;*/
        }
        body{

            min-height: 100vh;
        }
        button{
            min-height: 40px;
            width: 145px;
        }
        img{
            height: 200px;
            width: 80%
        }
        input{
            height: 30px
            width: 145px;
        }
        .space{
            height: 90px;
        }
        .main{
            height: 100vh;
        }
        footer{
            padding-top: 8px !important;
            padding-bottom: 8px !important;
        }


        @media (prefers-color-scheme: dark) {
          :root {
            /* Update CSS variables */
          }
        }
