.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-container {
  position: relative;
  background-color: var(--light);
  border-radius: 4px;
  border-color: var(--light);
  margin: 14px 58px 14px 58px;
  height: 110px;
  width: 220px;
  /*overflow: hidden;*/
  display: inline-block;
}

.radio-tile {
  background-color: var(--light);
}

.input-container input {
  background-color: var(--light);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 4px solid var(--light);
  border-radius: 4px;
  transition: all 160ms ease;
}

.input-container img {
  color: var(--accent);
  font-size: 3rem;
  filter: grayscale(1);

}

.input-container label {
  color: var(--accent);
  font-size: 0.80rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input + .radio-tile {
  box-shadow: none;
}

input:checked + .radio-tile {
  box-shadow: 0 0 14px var(--accent);
  border: 4px solid var(--accent);
  transform: scale(1.20);
}

input:hover + .radio-tile {
  box-shadow: 0 0 14px var(--accent);
}

input:checked + .radio-tile img,
input:checked + .radio-tile label {
  filter: grayscale(0);
}